<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ccimp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activities.business.BusinessSupplierListActivity"></activity>
        <activity android:name=".ui.activities.business.BusinessOrderHistoryActivity" />
        <activity android:name=".ui.activities.supplier.SupplierRequestsHistoryActivity" />
        <activity
            android:name=".ui.activities.customer.CustomerMenu"
            android:label="@string/business_menu" />
        <activity android:name=".ui.activities.supplier.SupplierMainActivity" />
        <activity
            android:name=".ui.activities.business.BusinessHomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.RegisterActivity" />
        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.customer.CustomerMainActivity" />
        <activity android:name=".ui.activities.business.BusinessMainActivity" />
        <activity android:name=".ui.activities.supplier.SupplierProfileActivity" />
        <activity android:name=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.supplier.SupplierRequestDetailActivity" />
        <activity android:name=".ui.activities.supplier.SupplierHomeActivity" />
        <activity android:name=".ui.activities.business.BusinessInventoryActivity" />
        <activity android:name=".ui.activities.business.BusinessOrderDetailActivity" />
        <activity android:name=".ui.activities.business.BusinessProfileActivity" />
        <activity android:name=".ui.activities.supplier.SupplierInventoryActivity"/>
        <activity android:name=".ui.activities.business.BusinessRequestCartActivity" />
        <activity android:name=".ui.activities.business.BusinessRequestFromSupplierActivity" />
        <activity android:name=".ui.activities.business.BusinessRequestPerSupplierActivity" />
        <activity android:name=".ui.activities.business.BusinessRequestsActivity" />
        <activity android:name=".ui.activities.business.BusinessSupplierMenuActivity" />
        <activity android:name=".ui.activities.customer.CustomerHomeActivity" />
        <activity android:name=".ui.activities.customer.CustomerMenuActivity" />
        <activity android:name=".ui.activities.customer.CustomerOrderCartActivity" />
        <activity android:name=".ui.activities.customer.CustomerOrdersActivity" />
        <activity android:name=".ui.activities.customer.CustomerProfileActivity" />
    </application>

</manifest>